 <html>
  <head>
    <title>Clouds come floating into my life, no longer to carry rain or usher storm, but to add color to my sunset sky.</title>
  </head>
  <body>

    {{version}}

    <!-- END OF PAGE WEBSOCKET -->
    <script type="text/javascript">
      function WebSocketTest() {
        if ("WebSocket" in window) {
           console.log("WebSocket is supported by your Browser!");
           // Let us open a web socket

           var ws = new WebSocket("{{websocket-url}}");

           ws.onopen = function() {
              ws.send("Message to send");
              console.log("Message is sent...");
           };

           ws.onmessage = function (evt) { 
              var received_msg = evt.data;
              console.log(received_msg);
           };

           ws.onclose = function() { 
              console.log("Connection is closed..."); 
           };
        }
        else {
           // The browser doesn't support WebSocket
           console.log("WebSocket NOT supported by your Browser!");
        }
      }

      WebSocketTest();
    </script>
  </body>
</html>
