 <html>
  <head>
    <title>Clouds come floating into my life, no longer to carry rain or user storm, but to add color to my sunset sky.</title>
    <style type="text/css">
      html, body, #map { height: 100%; margin: 0; padding: 0;}
    </style>
  </head>
  <body>

    <!-- Google map -->
    <div id="map"></div>

    <!-- GMAPS API -->
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIQcGXHUC8ZOpI5z8mq-AlAuPqaiV4_gY">
    </script>

    <!-- client-side -->
    <script
      type="text/javascript"
      src="/viz.js">
    </script>

    {{version}}

    <!-- END OF PAGE WEBSOCKET -->
    <script type="text/javascript">
      function WebSocketTest() {
        if ("WebSocket" in window) {
           console.log("WebSocket is supported by your Browser!");
           // Let us open a web socket

           var ws = new WebSocket("{{websocket-url}}");

           ws.onopen = function() {
              ws.send("Message to send");
              console.log("Message is sent...");
           };

           ws.onmessage = function (evt) { 
              var received_msg = evt.data;
              console.log(received_msg);
           };

           ws.onclose = function() { 
              console.log("Connection is closed..."); 
           };
        }
        else {
           // The browser doesn't support WebSocket
           console.log("WebSocket NOT supported by your Browser!");
        }
      }

      WebSocketTest();
    </script>
  </body>
</html>
